body { margin:0; font-family:serif; }

.video_bg { position:fixed; z-index:-100; width:100%; }

.center { width:100%; text-align:center; }
.main {  padding-top:3em; color:white; font-size:2em; max-width:500px; }
.main h1 { font-size:3em; }
